version: 0.0.{build}

configuration: Release

init:
- ps: Update-AppveyorBuild -Version "$env:appveyor_build_version+sha.$($env:appveyor_repo_commit.substring(0,7))"

nuget:
  disable_publish_on_pr: true

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: '0.0.{build}'
  assembly_file_version: '0.0.{build}'
  assembly_informational_version: '{version}'

matrix:
  fast_finish: true # fail fast!

clone_depth: 3  

pull_requests:
  do_not_increment_build_number: true

before_build:
  nuget restore

build:
  publish_nuget: true

after_build:
  dir

test:
  assemblies:
    - '**\*.test.dll'

on_success:
- curl -s -o copilot https://copilot.blackducksoftware.com/ci/appveyor/scripts/upload
- bash copilot

deploy:
  provider: NuGet
  api_key:
    secure: ahs8uNUo4+SV91Fury7y5vlrMNkyxo7d0U+cqRMQIFtAXkqL4ZCW4BAtvaYcWaoh

 
for:    
-
  branches:
    only:
      - QuickUpdateTo4.8
  
  version: 0.2.{build}-Beta.{build}
  
  assembly_info:
    patch: true
    file: AssemblyInfo.*
    assembly_version: '0.2.{build}'
    assembly_file_version: '0.2.{build}'
    assembly_informational_version: '{version}'