version: 0.0.{build}

configuration: Release

init:
- ps: Update-AppveyorBuild -Version "0.0.$env:appveyor_build_number+sha.$($env:appveyor_repo_commit.substring(0,7))"

nuget:
  disable_publish_on_pr: true

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: '0.0.{build}'
  assembly_file_version: '0.0.{build}'
  assembly_informational_version: '{version}'

matrix:
  fast_finish: true # fail fast!

clone_depth: 3  

pull_requests:
  do_not_increment_build_number: true

before_build:
  nuget restore

build:
  publish_nuget: true

after_build:
  dir

test:
  assemblies:
    - '**\*.test.dll'

on_success:
- curl -s -o copilot https://copilot.blackducksoftware.com/ci/appveyor/scripts/upload
- bash copilot

deploy:
  provider: NuGet
  api_key:
    secure: xjk5tz3Tcq/JnadrTWPZ2YOjggaN9yV7ulLn0+v7bqvukNNeO/TPCzamWxZOmax6
  on:
    branch: master 
