version: 0.1.{build}
image: Visual Studio 2019

init:
- ps: Update-AppveyorBuild -Version "$env:appveyor_build_version+sha.$($env:appveyor_repo_commit.substring(0,7))"

nuget:
  disable_publish_on_pr: true

matrix:
  fast_finish: true # fail fast!

clone_depth: 3  

pull_requests:
  do_not_increment_build_number: true

before_build:
  - cmd: dotnet restore DotJEM.Json.Index\DotJEM.Json.Index.sln
  - cmd: nuget restore DotJEM.Json.Index\DotJEM.Json.Index.sln

build:
  publish_nuget: true
  publish_nuget_symbols: true

after_build:
  dir

test:
  assemblies:
    - '**\*.test.dll'

deploy:
  provider: NuGet
  api_key:
    secure: KEHWtW02rf5aCAlwchP0Siow5EA24hwtm09uvsR58bMWirJ8uXl1SidBnNCfJ3cw
  skip_symbols: true

for:
-
  branches:
    only:
      - Master
  
  assembly_info:
    patch: true
    file: AssemblyInfo.*
    assembly_version: '0.0.{build}'
    assembly_file_version: '0.0.{build}'
    assembly_informational_version: '{version}'

-
  branches:
    only:
      - Lucene-v4.8
  
  version: 0.1.0-beta.{build}
  
  dotnet_csproj:
    patch: true
    file: '**\*.csproj'
    version: '{version}'
    package_version: '0.1.{build}'
    assembly_version: '0.1.{build}'
    file_version: '0.1.{build}'
    informational_version: '{version}'
