version: 2.0.{build}-Alfa.L48-01
image: Visual Studio 2022

configuration: Release

init:
- ps: Update-AppveyorBuild -Version "1.1.$env:appveyor_build_number+sha.$($env:appveyor_repo_commit.substring(0,7))"

nuget:
  disable_publish_on_pr: true

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '1.1.{build}.0'
  file_version: '1.1.{build}.0'
  informational_version: '{version}'

matrix:
  fast_finish: true # fail fast!

clone_depth: 3  

pull_requests:
  do_not_increment_build_number: true

before_build:
  dotnet restore

build:
  publish_nuget: true

on_success:
- curl -s -o copilot https://copilot.blackducksoftware.com/ci/appveyor/scripts/upload
- bash copilot

deploy:
  provider: NuGet
  artifact: /DotJEM\.Json\.Index\.\d+\.\d+\.\d+\.nupkg/ 
  api_key:
    secure: xjk5tz3Tcq/JnadrTWPZ2YOjggaN9yV7ulLn0+v7bqvukNNeO/TPCzamWxZOmax6
  on:
    branch: /^(master|Uplift48)$/